<a href="{{ url }}" class="c-stacked-block {{ styleModifier }}">

	<div class="c-stacked-block__header">
		{{# stackedBlockMedia }}
		<div class="c-stacked-block__media">
			<img src="{{ src }}" alt="{{ alt }}" class="c-stacked-block__img" />
		</div>
		{{/ stackedBlockMedia }}
	</div>

	<div class="c-stacked-block__body">
		<h2 class="c-stacked-block__title">{{ headline }}</h2>
		{{#if excerpt}}<p class="c-stacked-block__excerpt">{{ excerpt }}</p>{{/ if }}
	</div><!-- end c-stacked-block__body -->

	<div class="c-stacked-block__footer">
		<p class="c-stacked-block__meta">{{ label }}</p>
	</div>
</a><!-- end c-stacked-block -->
